<ul class="no-bullet left v-align-center title">
  <li class="title animate">
    <h2>James Conkling</h2>
  </li>
</ul>
<ul class="no-bullet right v-align-center menu">
  <li><small><a href="//twitter.com/{{ twitter }}" target="_blank">
    <i class="fa fa-twitter"></i>  <span>@{{ twitter }}</span>
  </a></small></li>
  <li><small><a href="//github.com/{{ github }}" target="_blank">
    <i class="fa fa-github"></i>  <span>{{ github }}</span>
  </a></small></li>
  <li><small><a href="mailto:{{ email }}" target="_blank">
  <i class="fa fa-envelope"></i>  <span>email</span>
  </a></small></li>
</ul>
