<div id="{{name}}-plate" class="plate animate">
  <h1 class="title show-for-small-only">{{name}}</h1>
  <ul class="no-bullet small-block-grid-1 large-block-grid-2">
    {{#each items}}
      <li class="item animate clearfix {{#if this.description}}descriptioned{{/if}}">
        <div class="header">
          <div class="thumb" style="background-image: url('images/thumb/{{this.img}}')" title="{{this.title}}"></div>
          <h3 class="animate">{{this.title}}</h3>
        </div>
        {{#if this.description}}
        <article class="animate">
          <ul class="details inline-list">
            {{#if this.url}}<li><a href="http://{{this.url}}" target="_blank"><i class="fa fa-file"></i>website</a></li>{{/if}}
            {{#if this.github}}<li><a href="http://{{this.github}}" target="_blank"><i class="fa fa-github"></i>github</a></li>{{/if}}
          </ul>
          <p>{{{this.description}}}</p>
        </article>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</div>
